.App 
{
  text-align: center;
}

.locationBox
{
  display: flex;
  justify-content: space-around
}

.forecastWrapper 
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: .9em;
}

.forecastBox
{
  border: solid;
  padding: 1em;
}
